/* Section */
.sectionImage {
  position: absolute;
  height: 540px;
  width: 960px;
}
.svgFile {
  position: absolute;
  height: 540px;
  width: 960px;
  opacity: 0.5;
}

#living:hover{
  opacity: 0.1;
  cursor: pointer;
}


#livingroomImage{
  cursor: pointer;
  height: 90%;
  width: 90%;
}

#office:hover{
  opacity: 0.1;
  cursor: pointer;
}

#officeImage{
  cursor: pointer;
  height: 90%;
  width: 90%;
}
